/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(199, 233, 148, 1) 100%);
}
.link{
  display: flex;
  justify-content: space-around;
  /* padding-left: 100px;
  padding-right: 100px; */
  
}
.App{
  
  text-align: center;
}
a{
  text-decoration: none;
}
.title1 {
  text-align: center;
padding: 20px;
}

.btn1, .btn2 {
  border-radius: 5px;
  padding: 10px 80px;
  min-width: 500px;
  font-size: 20px;
  cursor: pointer;
  background-color: #bbf1ff;
  margin-top: 5px;
}
.btn2{
  background-color: #7b8f94;
}
.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordion_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #41c4de;
}

.accordion_title:hover {
  background-color: #3ab4cc;
}

.accordion_title,
.accordion_content {
  padding: 1rem;
}

.accordion_content {
  background-color: #79c7d6;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}